{% if section.blocks.size > 0 %}
  <div class="product-usp">
    <ul>
      {%- for block in section.blocks -%}
        {%- assign _block = block.settings -%}
        {%- assign block_text = _block.text -%}

        <li>
          {{- block_text -}}
        </li>
      {%- endfor -%}
    </ul>    
  </div><!-- /.product-usp -->
{% endif %}


{% schema %}
{
  "name": "Product USP",
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ]
}
{% endschema %}