<style>
	.page-{{page.handle}}{margin: 0;}
  #section-footer{margin-top: 0 !important;}
</style>

<div class="page page-{{page.handle}}">
  <h1 class="visuallyhidden">{{page.title}}</h1>
  {%- section 'specialoffer_fb_hero_v2' -%}
  {%- section 'specialoffer_featured_products' -%}
  {%- section 'specialoffer_fb_banner' -%}
  {%- section 'specialoffer_fb_products' -%}
  {%- section 'specialoffer_fb_banner_2' -%}
  {%- section 'specialoffer_fb_why-custom' -%}
  {%- section 'specialoffer_fb_banner_3' -%}
  {%- section 'specialoffer_fb_more_custom' -%}
  {%- section 'specialoffer_fb_newsletter' -%}
</div>