<style>
	.page-{{page.handle}}{margin: 0;}
  #section-footer{margin-top: 0 !important;}
</style>

<div class="page page-{{page.handle}}">
  <h1 class="visuallyhidden">{{page.title}}</h1>
  {%- section 'specialoffer_fb_hero_v5' -%}
  {%- section 'specialoffer_fb_banner_3_v4' -%}
  {%- section 'specialoffer_fb_banner_v7' -%}
  {%- section 'subscribe_and_save_featured_products' -%}
  {%- section 'specialoffer_fb_more_custom_v4' -%}
  {%- section 'specialoffer_fb_newsletter_v4' -%}
</div>