<style>
	.page-{{page.handle}}{margin: 0;}
  #section-footer{margin-top: 0 !important;}
</style>

<div class="page page-{{page.handle}}">
  <h1 class="visuallyhidden">{{page.title}}</h1>
  {%- section 'specialoffer_fb_hero_v3' -%}
  {%- section 'specialoffer_featured_products_v3' -%}
  {%- section 'specialoffer_fb_banner_v3' -%}
  {%- section 'specialoffer_fb_products_v3' -%}
  {%- section 'specialoffer_fb_banner_v4' -%}
  {%- section 'specialoffer_fb_why-custom_v3' -%}
  {%- section 'specialoffer_fb_banner_3_v3' -%}
  {%- section 'specialoffer_fb_more_custom_v3' -%}
  {%- section 'specialoffer_fb_newsletter_v2' -%}
</div>